/*Colors*/
$text-black: #000000;
$text-main: #48494D;
$text-bold-black: #1A212F;
$text-white: #FFFFFF;
$text-red: #D12136;
$text-error-red: #FF0000;
$text-gray05: rgba(72, 73, 77, 0.5);
$background-grey: #F5F5F9;
$background-white: #FFFFFF;
$background-red: #BD0C21;
$hover-red: #D12136;
$border-grey: #D7D9DF;
$border-black02: rgba(0, 0, 0, 0.2);
$background06: rgba(88, 87, 87, 0.6);
$border-gray02: rgba(72, 73, 77, 0.2);
$star-empty: rgba(189, 190, 194, 0.7);
$star-checked: #D12136;
